{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for m in messages %}
            <P>{{m}}</P>
        {% endfor %} 
    {% endif %} 
{% endwith %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard') }}">Dashboard</a>
          <a class="nav-link" href="{{ url_for('upload') }}">Upload file</a>
          <a class="nav-link" href="{{ url_for('sig') }}">Signature</a>
          <a class="nav-link" href="{{ url_for('check_sig') }}">Check Signature</a>
        </div>
      </div>
    </div>
  </nav>

  <style>
    body{
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        font-family: "Poppins", sans-serif;
        margin: 0;
    }
    h1{
    font-weight:bold;
    font-size: 4rem;
    margin-top: 12rem;
    color:darkcyan;
    }
    .GFG {
            background-color: dimgray;
            border: 2px solid black;
            color: black;
            padding: 5px 10px;
            width: 5cm;
            height: 1cm;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 15px 30px;
            cursor: pointer;
        }
</style>
<a  href="{{ url_for('dashboard') }}"><button class="GFG">
  Dashboard
</button></a>
<a  href="{{ url_for('dashboard') }}"><button class="GFG">
  Profile
</button></a>
<a  href="{{ url_for('upload') }}"><button class="GFG">
  Upload file
</button></a>
<a  href="{{ url_for('sig') }}"><button class="GFG">
  Signature
</button></a>
<a  href="{{ url_for('check_sig') }}"><button class="GFG">
  Check Signature
</button></a>
{% endblock %}
